.movie-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 56px 0;
}

.poster {}

.title {
    font-size: 73px;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 900;
    line-height: 72px;
    max-width: 25ch;
}

.overview {
    font-size: 24px;
    max-width: 50ch;
}

.shortOverview {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.actionButtons {
    display: flex;
    gap: 12px;
}
.addBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #eee;
    border-radius: 900px;
}
.playBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    color: #222;
    width: 300px;
    border-radius: 9999px;
    font-size: 20px;
    font-weight: 700;
}
.posterOVerlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
}
.poster img{
    height: auto;
    z-index: -2;
    max-height: 100vh;
    object-fit: cover;
}